.colourBox {
  /*border: 0.1rem solid red;*/
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  overflow: hidden;
  word-wrap: break-word;
  filter: drop-shadow(2px 2px 8px #aaa);
  border-radius: 1rem;
}

.colourBox:hover {
  transform: scale(1.1);
  transition: .5s;
  cursor: pointer;
}